 .App {
  background-color: #EEEEEE;
  padding-bottom: 10px;
  background-color: #EEEEEE;
}
.thStyle {
  background-color: #EAECF0;
  border-color: none;
  border-top-left-radius: 10;
  border-bottom-left-radius: 10;
}

.thStyleLeft{
  background-color: #EAECF0;
  border-color: none;
  border-top-right-radius: 10;
  border-bottom-right-radius: 10
}
.cardStyle {
  overflow: hidden;
  border-radius: 15px;
  border-width: 1px;
  border: 1px solid #FCFCFD;
  background-color: red;
  border: 1px solid red;
}
.cardStyleCol {
  overflow: hidden;
  border-radius: 15;
  border-width: 1;
  border-style: solid;
  border-color: #FCFCFD;
  background-color: #FCFCFD;
  height: 70vh
}
*{
  margin:0;
  padding:0;
  text-decoration: none;
}
body{
  margin:0;
  padding:0;
  text-decoration: none;
}
.container{
  display:flex;
}
main{
  width: 100%;
  padding: 20px;
}
.sidebar{
  background: #000;
  color: #fff;
  height: 100vh;
  width: 200px;
  transition: all 0.5s;
  
}
.top_section{
  display: flex;
  align-items:center;
  padding:20px 15px;
}
.logo{
  font-size: 30px;
}
.bars{
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}
.link{
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}
.link:hover{
  background:lightskyblue;
  color: #000;
  transition: all 0.5s;
}
.active{
  background: lightskyblue;
  color: #000;
}
.icon, .link_text{
  font-size: 20px;
}

td, th {
  border: 0px solid #999;
  padding: 20px;
  color: #858E9E;
}
td{
  color: #000;
  text-align: center;
}
.primary{
  background-color: brown;
  position: sticky;
}
 th {
  padding: 20px;
}
